#moduleFooter {
  width: 100%;
  max-width: 1920px;


  margin: 60px auto 0px auto;
  
  .container {
    width: 100%;
    max-width: 1100px;
    border-top: 1px solid $gray-lighter;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    padding: 40px;

    .logo {
      width: 100%;
      max-width: 150px;

      @include respond-to-max(560) {
        max-width: 100px;
      }
    }

    .text-content {
      margin-top: 30px;
      width: 100%;
      max-width: 600px;
      text-align: center;

      h3 {
        font-size: 1.15rem;
        font-weight: 400;

        @include respond-to-max(560) {
          font-size: 1rem;
        }
      }
    }

    .icons {
      width: 100%;
      max-width: 320px;
      display: flex;
      align-items: center;
      justify-content: space-between; 
      margin-top: 30px;

      a {
        text-decoration: none;

        transition: all 0.2s ease-in-out;
        transform: scale(0.9);

        &:hover {
          transform: scale(1);
        }
      }

      svg {
        width: 100%;
        max-width: 100px;

        path {
          transition: all 0.2s ease-in-out;
        }

        &:hover path {
          fill: $pink;
        }
      }
    }
  }

}