#moduleBanner {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  img.fullscreen {
    width: 100%;
    
    @include respond-to-max(768) {
      display: none;
    }
  }
  
  img.mediumscreen {
    display: none;
    width: 100%;
    max-width: 768px;

    @include respond-to-max(768) {
      display: block;
    }

    @include respond-to-max(560) {
      display: none;
    }
    
  }
  
  img.mobile {
    display: none;
    width: 100%;
    max-width: 560px;

    @include respond-to-max(560) {
      display: block;
    }
  }

}