#moduleHeader {
  width: 100%;

  .container {
    width: 100%;
    max-width: 1140px;

    margin: 0 auto;

    padding: 80px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


    @include respond-to-max(560) {
      padding: 30px;
    }
  }

  .logo {
    width: 100%;
    text-align: center;

    img {
      max-width: 150px;
      
    }
  }

  h1 {
    font-size: 2.81rem;
    font-weight: 400;

    text-align: center;

    margin-top: 62px;
    span {
      font-weight: 600;
      font-size: 2.81rem;

      @include respond-to-max(768) {
        font-size: 2.25rem;
      }
  
      @include respond-to-max(768) {
        font-size: 1.75rem;
      }
    }

    @include respond-to-max(768) {
      font-size: 2.25rem;
    }

    @include respond-to-max(768) {
      font-size: 1.75rem;
    }
  }

  a.btn-cta {
    background-color: $pink;
    color: white;
    font-size: 1.25rem;
    padding: 20px 24px;
    border: 3px solid $pink;
    font-weight: 600;


    margin-top: 62px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      border: 3px solid $pink;
      color: $pink;
    }

    @include respond-to-max(768) {
      padding: 15px 19px;
      font-size: 1rem;
    }

    @include respond-to-max(560) {
      font-size: .9rem;
    }
  }
}