// Fonts
$font-default: 'Roboto', sans-serif;

//Colors
$white: #ffffff;
//$blue: #002855
$blue: #062953;
$lightblue: #00A0DF;
$darkblue: #08036B;
$green: #8DDF15;
$lightgreen: #E7FFFF;
$red: #FF443E;
$orange: #FF7512;
$yellow: #FFE251;
$gray: #979797;
$gray-light: #A7A7A7;
$gray-lighter: #F4F6FD;
$azul-fin: #75E2F8;
$pink: #EB01FF;
$black: #000000;




// Socials

$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb5;